* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-lato: 'Lato', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-rubik: 'Rubik', sans-serif;
  --color-purple: #7978D9;
  --color-gray: #484848
}

header {
  margin: 0 auto;
  padding: 3rem 0;
  height: 9rem;
  width: 90rem;
}


.body {

  background: url('../../assets/wallpaper.svg'), lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
  width: 100%;
}

main {
  margin: 0px auto;
  width: 90rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cadastro {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 32.0625rem;
  height: 45rem;

  background-color: #fff;
}

.cadastro h3 {
  margin: 40px auto;
  color: var(--color-purple);
  font-family: var(--font-family-rubik);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

form {
  width: 28.125rem;
  min-height: 34rem;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px
}

label {

  color: var(--color-gray);
  font-family: var(--font-family-rubik);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  border-radius: 5px;
  border: 1px solid #555;
  background: #FFF;
  width: 449px;
  height: 63px;
}

form button {
  width: 28.0625rem;
  height: 3.0625rem;

  border-radius: 5px;
  border: none;

  background: var(--color-purple);
  font-family: var(--font-family-rubik);
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  cursor: pointer;

}

p,
span {
  color: var(--color-purple);
  text-align: center;
  font-family: var(--font-family-lato);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

span {
  cursor: pointer;
}