:root {
  --font-family-lato: 'Lato', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-rubik: 'Rubik', sans-serif;
  --color-purple: #7978D9;
  --color-gray: #484848
}

header {
  margin: 0 auto 20px auto;
  height: 8rem;
  width: 90rem;
}


.background {

  background: linear-gradient(90deg, #05EDE3 0.02%, #645FFB 99.63%);
  /* height: 100vh;
  width: 100%; */
}

main {
  margin: 0px auto;
  width: 100%;
  height: 70vh;
  border-radius: 3.75rem 3.75rem 0rem 0rem;

  background-color: #fff;

}

.description {
  margin: 0 auto;
  height: 500px;
  width: 1440px;

  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.table {
  /* border: 1px solid red; */
  max-width: 61rem;
  height: 47rem;
}

table {
  border-collapse: collapse;
}

thead {
  height: 3.625rem;
  width: 60.25rem;
  background: #FAFAFA;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.10);
  border-radius: 0.625rem;
  color: #000;

  font-family: var(--font-family-lato);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

tbody {
  color: #000;
  text-align: center;
  font-family: var(--font-family-lato);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

tr,
td {
  width: 60.25rem;
  height: 3.625rem;
  text-align: center;

}

td {
  border-bottom: 1px solid #E0E0E0;
}

td:nth-child(1) {
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.resume {
  width: 14.75rem;
  height: 12.25rem;
  border-radius: 0.625rem;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.10);
  background: #FAFAFA;

  display: flex;

}

h2 {
  height: 2rem;
  color: #2F2F2F;
  font-family: var(--font-family-rubik);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 21.33px;
}

.table-resume {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.table-resume hr {
  width: 11.8125rem;
  background: #EAEAEA;
  height: 0.0625rem;
  border: 0.06rem;
  margin: 1.19rem 0;
}

.table-resume td,
tr {
  height: 2rem;
  width: 11rem;
}

.table-resume tr,
td {
  color: #2F2F2F;
  font-family: var(--font-family-rubik);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: none;
}

.table-resume td {
  text-align: right;
}

.table-resume .saldo {
  font-weight: 700;
  font-size: 0.875rem;
}