:root {
  --font-family-lato: 'Lato', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-rubik: 'Rubik', sans-serif;
  --color-purple: #7978D9;
  --color-gray: #484848
}

.container-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.container-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 611px;
  height: 879px;
  background-color: white;
  padding: 50px;
  z-index: 1001;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  gap: 25px;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

}

.formulario {
  height: 879px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.line-title {

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 489px;
}

.line-title h1 {
  color: #000;
  font-family: var(--font-family-rubik);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.buttons-register {

  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  width: 489px;
  height: 56px;
}

.buttons-register button {
  width: 244.5px;
  height: 56px;
  flex-shrink: 0;

  color: #FFF;
  text-align: center;
  font-family: var(--font-family-rubik);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #B9B9B9;
  border-radius: 5px;
  border: none;

  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;

  text-align: left;
  width: 489px;
  gap: 10px;
}

label {
  margin-top: 10px;
  color: #484848;
  font-family: var(--font-family-rubik);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

form input {
  width: 485px;
  height: 63.486px;
  border-radius: 5px;
  border: 1px solid #555;
  background: #FFF;
}

form button {
  margin: 35px auto;
  width: 236px;
  height: 42px;
  flex-shrink: 0;
}