:root {
  --font-family-lato: 'Lato', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-rubik: 'Rubik', sans-serif;
  --color-purple: #7978D9;
  --color-gray: #484848
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 0 auto 20px auto;
  padding: 3rem 0;
  height: 8rem;
  width: 90rem;
  display: flex;
  justify-content: space-between;
}

main {

  margin: 0px auto;
  width: 90rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}