.resume {
  width: 236px;
  height: 196px;

  border-radius: 10px;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.10);
  background: #FAFAFA;

  display: flex;
  justify-content: space-evenly;
}

.resume hr {
  margin: 0 auto;
  width: 170px;
  height: 1px;
  background-color: #EAEAEA;
  border-style: none;
}

.container-txt-h2-resume {
  margin: 0 auto;
  width: 170px;
}

.container-txt-h2-resume h2 {
  color: #2F2F2F;
  font-family: var(--font-family-rubik);
  font-size: 18px;
  font-weight: 700;
}

.table-resume {
  margin: 0 auto;
  width: 170px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.table-resume tr,
td {
  height: 32px;
  width: 170px;

  color: #2F2F2F;
  font-family: var(--font-family-rubik);
  font-size: 0.8125rem;
  font-weight: 500;
}

.table-resume td {
  text-align: right;
}

.entrace {
  color: #645FFB;
}

.balance {
  color: #3A9FF1;
}

.balance-txt {
  font-weight: 700;
  font-size: 14px;
}

.exit {
  color: #FA8C10;
}