.container-table {
  margin-right: 34px;
  min-width: 976px;
  max-height: 752px;
}

.container-table table,
tr,
td {
  border-collapse: collapse;
  height: 58px;
  width: 964px;
}

.container-table table thead {
  background: #FAFAFA;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.10);
  border-radius: 10px;

  font-family: var(--font-family-lato);
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.data-th-txt {
  margin-left: 25px;

  display: flex;
  align-items: center;

  height: 58px;
}

.data-th-txt img {
  margin: 0 5px;

  height: 13px;
  width: 8px;

  cursor: pointer;
}

.container-table table tbody {
  color: #000;
  text-align: center;
  font-family: var(--font-family-lato);
  font-size: 14px;
  font-weight: 400;
}

.col-value {
  font-family: var(--font-family-lato);
  font-weight: 700;
}

.container-table table tr,
td {
  text-align: center;
}

.container-table table td {
  border-bottom: 1px solid #E0E0E0;
}

.container-table table td:nth-child(1) {
  font-weight: 700;
  width: 135px;
}